@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body{
   
    background-color:white
}

.LoginContainer{
    border-radius: 25px;
    margin:auto;
    margin-top: 200px;
    background-color: white;
    border-style: solid;
    border-color: #6c508c;
    width:500px;
    
 
  
}

.hometxt{
   
    font-size: 15px;
    margin-left: 0em;
    margin-right: 0em;
   
  
  }


h4{
    font-family: 'Nunito', 'sans-serif';
    margin: auto;
    font-size: 15px;
    margin-left: 10px;
}

h1{
    font-family: 'Nunito', 'sans-serif';
    text-align:center;
    color:#5bb0d9;
    color:#163e4a;
   
}

.LoginForm{
    margin: 0px auto;
    float: none;
    display: table;
}

.a{
    margin: 0px auto;
    float: none;
    display: table;
    
}

#logo{
    height:100px;
    width: 100px;
    margin: 0px auto;
    float: none;
    display: table;
    margin-bottom: 10px;
}

#ProfilePic{
    height:250px;
    width: 250px;
    margin: 0px auto;
    float: none;
    display: table;
    margin-bottom: 10px;
}



#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

.FormInput{
    border-radius: 5px;
    margin-bottom: 10px;
    width:200px;
    height: 30px;
}

.UserCard{
    border-radius: 25px;
    width:250px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-style: solid;
  
    border-color: #6c508c;
    
    display: flex;
    text-align: center;
    
}

.header{
    background-color: #6F00FF;
   
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: rgb(255,102,203);
  } 
#UserList{
    border-style: solid;
    border-color: #6c508c;
    border-radius: 25px;
    width:500px;
    height: 400px;
    margin: auto;
    text-align: center;
    overflow: auto;
    margin-top: 150px;
}

#UserProfile{
    border-radius: 25px;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-style: solid;
    border-color: #6c508c;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #22A7F0;
    
}

.left{
    flex: 1;
}
.right{
    flex: 1;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media only screen and (max-width: 500px) {

    .LoginContainer{
        border-radius: 25px;
        margin:auto;
        margin-top: 50px;
        border-style: solid;
        border-style: none;
        width:300px;
    
    }

    #UserList{
        border-style: solid;
        border-color: #6c508c;
        border-radius: 25px;
        width:300px;
        height: 400px;
        margin: auto;
        text-align: center;
        overflow: auto;
        margin-top: 150px;
    }

    .UserCard{
        border-radius: 25px;
        width:150px;
        margin: auto;
        margin-top: 30px;
        background-color: white;
        border-style: solid;
      
        border-color: #6c508c;
        
        display: flex;
        text-align: center;
        
    }

    #ProfilePic2{
        height:30px;
        width: 30px;
        margin-right: 5px;
        display: table;
       
    }

    .UserCard > a{
        font-size: 8px;
    }

    #ProfilePic{
        height:150px;
        width: 150px;
  
       
    }
   
    h1{
        margin-top:10px;
    }
    
    
  }
  
  
  h1{
    margin-top:10px;
}
